body{
	background-color:#fff559;
	box-sizing: border-box;
	margin: 1px;
	padding: 1px;
}
.logo{
    position: relative;
    
	

}
.logo a{
	position: relative;
	display: inline;
	float: right;
	margin: 1em;
	padding: 14px 10px;
    color: #FF3A3A;
	text-decoration: none;
	height: 10;
	width:15%;
	font-size: 1.3em;
	font-family: 'Permanent Marker', cursive;
	 text-shadow:2px 2px #ffffff;
  
}
.logo a:visited{
	color:  violet;
}
.logo a:hover{
	color: white;
}
.logo a:active{
	color: white;
}
.header_area{
	

	padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
}
.header_area h1{
	float: center;
	font-size: 2.3em;
    line-height: .2em;
	vertical-align: middle;
    text-transform: uppercase;
	text-align:Center;
	font-family: 'Permanent Marker', cursive;
	color:#272727;
}
.header_area img{
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: block;        
}
.centered {
position: absolute;
  font-size: 5.0em;
  font-family: 'Permanent Marker', cursive;
  color:#fff559;
  text-shadow:2px 2px #000000;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
	.row img{
		 
		   
		  
		}
		.row {
  border-top:5px solid #000080;
  display: flex;
  border-bottom: 5px solid #000080;
  
}
.column {
  flex: 33.33%;

}
.column img{
	
	opacity: 0.4;
    color: black;
	 border-radius: 50%;
   box-shadow: 10px 10px grey;
   width:200px;
   height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.column img:hover {
  opacity: 1.0;
}
.kdrama_cont video{
  display: block;
  margin-left: auto;
  margin-right: auto;
 width:800px;
  
}
.paragraph p{
  float: Center;
  display: block;
  margin-left: auto;
  margin-right: auto;
   width: 50em;
  font-family: 'klavikame','Nanum Barun Gothic',Arial,Dotum,AppleGothic,Helvetica,sans-serif;
  text-align: justify;
  font-size: 1.2em;
  line-height:1.5

}
.paragraph h2{
	margin-left: auto;
    margin-right: auto;
	width: 10em;
	font-size: 2.3em;
    line-height: .2em;
    text-transform: uppercase;
	text-align:center;
	 font-family: 'Permanent Marker', cursive;
	color:#272727;
}
h4{
	float:right;
	color:#FF3A3A;
	font-size: 1.5em;
}
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color:white;
  font-size: 2.5em;
  background-color: #73A8C2;
  text-decoration: none;
}